#page{
    -fx-background-color: #121212;
}

#portfolioBtn{
    -fx-background-color: #00308f;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

#portfolioBtn:hover{
    -fx-background-color: black;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

#topHbox{
    -fx-border-color: #121212 #121212 rgb(148, 148, 148) #121212;
}

.stockPane{
    -fx-background-color: rgb(48, 48, 48);
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(59, 59, 59, 0.8), 10, 0, 0, 0);
}

.stockPane:hover{
    -fx-background-color: rgb(57, 57, 57);
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(59, 59, 59, 0.8), 10, 0, 0, 0);
}

#placeOrderBtn{
    -fx-background-color: rgb(65, 105, 225);
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

#placeOrderBtn:hover{
    -fx-background-color: #00008b;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}