#anchorPane{
    -fx-background-color: #121212;
}

#username, #password, #confirmPassword{
    -fx-background-color: #5a5a5a;
    -fx-text-fill: azure;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

#loginBtn{
    -fx-background-color: rgb(65, 105, 225);
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

#signupBtn{
    -fx-background-color: rgb(0, 128, 128);
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

#loginBtn:hover{
    -fx-background-color: rgb(65, 105, 225, 0.5);
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

#signupBtn:hover{
    -fx-background-color: rgb(0, 128, 128, 0.5);
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}
