#page{
    -fx-background-color: #121212;
}

#exploreBtn{
    -fx-background-color: #00308f;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

#exploreBtn:hover{
    -fx-background-color: black;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

#topHbox{
    -fx-border-color: #121212 #121212 rgb(148, 148, 148) #121212;
}

#newsListView{
    -fx-background-color: #121212;
}

.list-cell:even{
    -fx-background-color: rgb(48, 48, 48);
}

.list-cell:odd{
    -fx-background-color: rgb(27, 27, 27);
}

.list-cell:focus{
    -fx-background-color: rgb(0, 0, 0);
}

.axis-label{
    -fx-text-fill: white;
}

.chart-plot-background{
    -fx-background-color: #121212;
}

.chart-vertical-grid-lines{
    -fx-stroke: #313131
}

.chart-horizontal-grid-lines{
    -fx-stroke: #313131
}

.chart-title{
    -fx-text-fill: white;
}